@media screen and (max-width: 1200px) {
    div.container {
        width: 100%;
    }
    header {
        .title_big::before, .title_big::after {width: 150px;}
    }
    .waiting {
        &_wrapper {flex-wrap: wrap; justify-content: center;}
        &_item {margin: 0 auto; margin: 25px 15px;}
    }
    .optimization {
        padding: 50px 0;
        &_img {top: 10%;}
    }
    .finish {
        &_wrapper {flex-wrap: wrap;}
        &_item {margin: 0 auto; margin-top: 25px;}
    }
}

@media screen and (max-width: 992px) {
    header {
        .title {font-size: 35px; line-height:40px;}
        .title_big {font-size: 60px;}
    }
    .optimization {
        &_header, &_text {margin-left: 280px;}
        &_img {top: 15%;}
    }
    .gift {
        &_text {font-size: 25px;}
    }
    .start {
        &_text {font-size: 25px;}
        .date {font-size: 30px;}
    }
}

@media screen and (max-width: 769px) {
    header {
        .title_big::before, .title_big::after {width: 100px;}
        .title_big {font-size: 50px;}
    }
    .waiting {
        &_img {width: 300px;}
    }
    .optimization {
        &_header, &_text {margin-left: 180px;}
        &_img {top: 40%; left: -330px;}
    }
    .gift {
        min-height: 600px;
        &_img {width: 125px;}
        &_text {font-size: 20px;}
    }
    .start {
        &_img {width: 300px;}
    }
}

@media screen and (max-width: 576px) {
    header {
        min-height: 650px;
        padding: 30px 15px;
        h1 {margin-top: 30px;}
        .title {font-size: 25px; line-height: 30px;}
        .title_big {font-size: 32px;}
        .title_big::before, .title_big::after {width: 30px; margin-top: 10px;}
        .promo_text {font-size: 18px;}
        .promo_btn {margin-top: 30px; width: 250px;}
        .more {margin-top: 30px;}
    }
    .waiting {
        min-height: 500px;
        padding: 30px 15px;
        &_header {font-size: 23px;}
        &_subheader {font-size: 18px;}
        &_wrapper {margin-top: 10px;}
        &_item {margin: 20px 0;}
        &_img {width: 250px;}
    }
    .optimization {
        min-height: 400px;
        padding: 30px 15px;
        &_header {margin-left: 0; font-size: 23px; text-align: center;}
        &_text {margin-left: 0;}
        &_img {display: none;}
    }
    .finish {
        min-height: 400px;
        padding: 30px 15px;
        &_header {font-size: 23px;}
        &_wrapper {margin-top: 5px;}
    }
    .gift {
        min-height: 400px;
        padding: 30px 15px;
        &_img {width: 100px;}
        &_text {font-size: 17px; line-height: 25px;}
        &_btn {margin-top: 30px; width: 250px;}
    }
    .start {
        min-height: 400px;
        padding: 30px 15px;
        &_img {width: 250px;}
        &_text {font-size: 20px;}
        .date {font-size: 25px;}
        &_subtitle {font-size: 17px; line-height: 25px;}
    }
    footer {
        min-height: 100px;
        padding: 30px 15px;
    }
}